RewriteEngine On
RewriteCond %{REQUEST_FILENAME}% !-f
RewriteCond %{REQUEST_FILENAME}% !-d
RewriteCond %{REQUEST_FILENAME} !\.(js|gif|jpg|png|css|txt|map|woff2|woff|ttf)$
RewriteRule ^(.*)$ index.php?url=$1 [QSA,NC]

